#content {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    gap: 3em;
    margin-top: 1em;
}

#headshot-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#headshot {
    width: 65vw;
    height: auto;
    border-radius: 1em;
}

h1 {
    margin: 0;
    padding: 0;
}

#pronouns {
    font-size: 70%;
}

.button {
    background: #7213ad;
    border: none;
    color: white;
    padding: 0.75em 2em;
    margin: 0.5em 0.5em 0 0;
    border-radius: 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 2px 8px rgba(80, 0, 120, 0.08);
    transition: 0.1s;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: #af2eff;
}




@media (max-width: 900px) {
    #content {
        flex-direction: column;
        gap: 1em;
    }
    
    #headshot {
        width: 100%;
    }
    
    #intro {
        max-width: 100%;
    }
}