---
import Layout from "../components/Layout.astro";
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
    name: "Violet Monserate",
    country: "USA",
    state: "Washington",
    city: "Seattle",
    pronouns: "any/all",
    age: 20,
    occupation: "Computer Engineering and Philosophy: Ethics student",
    hobbies: [
        "bird watching",
        "cooking",
        "baking",
        "board games",
        "video games",
        "programming",
    ],
};

const skills = [
    "Java",
    "Python",
    "C/C++",
    "HTML",
    "CSS",
    "JavaScript",
    "TypeScript",
    "React",
    "Astro",
    "Google Suite",
];

const happy = false;
const finished = false;
var goal = 2;

const bulletColor = "green";
---

<Layout {pageTitle}>
    <h1>{pageTitle}</h1>
    <p>
    Under Construction! I will be adding more info about myself in the near future :)
    </p>
    </Layout
>
