---
import Layout from "../components/Layout.astro";
import "../styles/global.css";

const allProjects = Object.values(
    import.meta.glob("./projects/*.md", { eager: true }),
);
const pageTitle = "Projects";
---

<Layout {pageTitle}>
    <h1>{pageTitle}</h1>
    <p>Wow, so many projects :)</p>
    <ul>
        {
            allProjects.map((post: any) => (
                <li>
                    <a href={post.url}>{post.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
