---
import Layout from '../components/Layout.astro';

import '../styles/global.css';

const pageTitle = "Projects";
---

<html lang="en">
    <Layout {pageTitle}>
		<h1>{pageTitle}</h1>
        <p>Wow, so many projects :)</p>
        <ul>
            <li><a href="/projects/project-1/">Project 1</a></li>
            <li><a href="/projects/project-2/">Project 2</a></li>

        </ul>
    </Layout>
</html>
