footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    background-color: #7213ad;
    width: 100%;
    padding: 0.5em;
    margin: 0em;
    box-shadow: 0em 1em 2em black;
    flex-shrink: 0;
}

footer p {
    font-size: 0.8em;
    padding: 0.5em;
    color: white;
    margin: 0;
}

.info a {
    color: #bab9fb;
}

footer a:hover {
    color: #d5d4ff;
}

.info {
    flex: 0 0 auto;

}

.socials>a {
    padding: 0.5em;
    color: white;
    text-decoration: none;

}

.socials {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 0 0 auto;
}