---
import { Image } from "astro:assets";
import personalLogo from "@assets/logo.svg";
import "./Header.css";
---

<div class="header">
    <a href="/"
        ><Image
            src={personalLogo}
            alt='Personal logo. White text on a purple background. The text reads "VM" and the background has tiny circuit board traces'
            loading="eager"
        /></a
    >
</div>
