---

---

<style>
    .header {
        background-color: #7213ad;
        padding-top: 1em;
        padding-bottom: 0.5em;
        width: 100%;
        box-sizing: border-box;
        height: auto;
        box-shadow: 0em 2em 2em black;
        display: flex;
        justify-content: center;
    }
    img {
        width: 5em;
        background-color: #7213ad;
    }
</style>
<div class="header">
    <a href="/"><img src="/favicon.svg" alt="Personal logo." /></a> 
</div>
<!-- TODO: WRITE PROPER ALT TEXT, REPLACE WITH PROPER HEADER -->