---
import { Image } from "astro:assets";
import personalLogo from "@assets/logo.svg";
import "./Header.css";
---

<div class="header">
    <Image
        src={personalLogo}
        alt='Personal logo. White text reads "VM" on purple background with circuit board traces'
        loading="eager"
    />
</div>
