---

---

<style>
    .header {
        background-color: #7213ad;
        padding: 20px;
        width: 100%;
        height: auto;
    }
    img {
        width: 5%;
        height: auto;
        display: block;
        margin: auto;
        background-color: #7213ad;
    }
</style>
<div class="header">
    <img src="/favicon.svg" alt="Personal logo." /> 
</div>
<!-- TODO: WRITE PROPER ALT TEXT, REPLACE WITH PROPER HEADER -->