.date {
    color: 707070;
    font-style: italic;
}

hr {
    border: 1px solid lightgray;
}

img {
    border-radius: 1em;
}

img+em {
    display: block;
    text-align: center;
    margin-top: 0.5em;
}

#article-content {
    max-width: 50em;
    margin: auto;
}

.md-slot img {
    width: 100%;
    height: 100%;
}

p,
li, 
em {
    line-height: 1.65em;
}

/* Make equations/code scrollable when they're super long*/

pre, .md-slot pre, .katex-display {
    overflow-x: auto;
    width: 100%;
    background: #f8f8fa;
    border-radius: 0.5em;
    padding: 1em;
    box-sizing: border-box;
}

.katex-display .katex {
    display: inline-block;
    min-width: 100%;
}
