.date {
    color: 707070;
    font-style: italic;
}

hr {
    border: 1px solid lightgray;
}
img {
    border-radius: 1em;
}
img + em {
    display: block;
    text-align: center;
    margin-top: 0.5em;
}

#article-content {
    max-width: 50em;
    margin: auto;
}

.md-slot img {
    width: 100%;
    height: 100%;
}

.md-slot p, .md-slot li {
    line-height: 1.5em;
}