---
import "./NavDropdown.css";
import "./Navlink.css";

const { title } = Astro.props;
---

<li class="link">
    <div class="dropdown">
        <a>{title} ▾</a>
        <div class="dropdown-content">
            <slot />
        </div>
    </div>
</li>
