---
import Navlink from "./Navlink.astro";
import "./Navigation.css";
---

<nav><ul>
    <Navlink title="home" />
    <Navlink title="about" />
    <Navlink title="projects" />
    <Navlink title="blog" />
    <Navlink title="contact" />
</ul></nav>