---
import type { MarkdownInstance } from "astro";
import Navlink from "./Navlink.astro";
import NavDropdown from "./NavDropdown.astro";
import "./Navigation.css";
import { getCollection } from "astro:content";

interface Frontmatter {
    title: string;
    image: string;
    description: string;
    startDate: Date;
    finishDate?: Date;
}

const projects = await getCollection("projects");
const sortedProjects = projects.sort((a, b) => {
    // If one activity is ongoing, and the other isn't, then onging activity is first
    if (!a.data.finishDate && b.data.finishDate) {
        return -1;
    }
    if (a.data.finishDate && !b.data.finishDate) {
        return 1;
    }

    // Then sort by start date
    return b.data.startDate.getTime() - a.data.startDate.getTime();
});
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.dropdown > a').forEach(trigger => {
      trigger.addEventListener('click', function(e) {
        e.preventDefault();
        const parent = this.parentElement;
        parent.classList.toggle('open');
      });
    });
    document.addEventListener('click', function(e) {
      document.querySelectorAll('.dropdown.open').forEach(dropdown => {
        if (!dropdown.contains(e.target)) {
          dropdown.classList.remove('open');
        }
      });
    });
  });
</script>

<nav>
    <ul>
        <Navlink title="Home" link="/" />
        <NavDropdown title="Technical Projects">
            <a href="/projects">All Projects</a>
            {
                projects.map((project) => (
                    <a href={`/projects/${project.id}`}>{project.data.title}</a>
                ))
            }
        </NavDropdown>
        <NavDropdown title="Resume">
            <a href="/resume/Monserate Resume.docx" target="_blank"
                >Download Word
            </a>
            <a href="/resume/Monserate Resume.pdf" target="_blank"
                >Download PDF
            </a>
        </NavDropdown>
        <NavDropdown title="Contact Me">
            <a href="/contact">Contact Form</a>
            <a href="mailto:violetmonserate@gmail.com">Email</a>
            <a href="tel:425-970-5779">Phone</a>
            <a href="https://www.linkedin.com/in/violet-monserate/">Linkedin</a>
        </NavDropdown>
    </ul>
</nav>
