---
import Navlink from "./Navlink.astro";
import "./Navigation.css";
---

<nav><ul>
    <Navlink link="about" />
    <Navlink link="projects" />
    <Navlink link="blog" />
    <Navlink link="contact" />
</ul></nav>